* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #1A2238;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

/* 
body {
   
 background-color: #151D26; 
} */

/* #curser {
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: transform 0.5s ease-out, width 0.4s ease-out, height 0.4s ease-out, opacity 0.5s ease-out;
} */

#navbar {
    width: 100vw;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7CD46;
}

#navbar ul {
    font-size: 1.2rem;
    /* height: 100vw; */
    margin-right: 5%;
    text-decoration: none;
    gap: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    background: #F7CD46
}

#navbar ul li a {
    font-weight: 600;
    color: #1A2238;
    text-decoration: none;
    background: #F7CD46
}

.logo {
    height: 3rem;
    width: 3rem;
    background: #F7CD46
}

#header {
    height: fit-content;
    width: 100vw;
    position: relative;
    margin-bottom: 5rem;
    background-color: #1A2238;

}

.intro {
    display: flex;
    justify-content: space-around;
    padding-top: 6rem;
    background-color: #1A2238;

}

.intro .photo {
    margin-right: 4rem;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    height: 25rem;
    width: 20rem;
    background-image: url(images/p9.png);
    background-size: cover;
    /* background-color: #fff; */
}

.intro h1 {
    padding-top: 5rem;
    flex-basis: 70%;
    background: transparent;
    line-height: 6rem;
    font-size: 5.5rem;
    color: #FF6A3D;

}

.intro h1 span {
    margin-left: 1rem;
    color: #DE5935;
    position: absolute;
    z-index: 1;
    font-size: 5.5rem;
    background: transparent;
}

.intro h1 span::before {
    z-index: -1;
    content: "P";
    color: #F7CD46;
    position: absolute;
    top: -4px;
    left: -4px;
    background: transparent;
}

.intro .intro_button {
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    border: 2px solid #07FAD4;
    margin-top: 2rem;

}

.intro .intro_button a {
    color: #07FAD4;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

/* ---------------ABOUT------- */
#about {
    width: 100vw;
    height: fit-content;
    /* padding-top: 3rem; */
    position: relative;
    /* padding-bottom: 2rem; */
    background-color: rgba(255, 255, 255, 0.879);

}

.row {
    padding: 3rem 0;
    background-color: rgba(255, 255, 255, 0.879);
    display: flex;
    justify-content: space-between;
}

.about_col_1 {
    background-color: rgba(255, 255, 255, 0.879);
    flex-basis: 30%;
}

.about_col_1 .imagee {
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    width: 20rem;
    border: 5px solid grey;
    border-radius: 1rem;
    background-image: url(images/pp2.jpg);
    background-size: cover;
}

.about_col_2 {
    background-color: rgba(255, 255, 255, 0.879);

    flex-basis: 70%;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
}

.about_col_2 h1 {
    background-color: rgba(255, 255, 255, 0.879);

    margin-bottom: 2rem;
    font-size: 3rem;
    color: #1A2238;
}

.about_col_2 p {
    background-color: rgba(255, 255, 255, 0.879);

    line-height: 1.5rem;
    text-align: justify;
    color: #1A2238;
    font-size: 1.1rem;
    font-weight: 550;
}

.about_col_2_lower {
    background-color: rgba(255, 255, 255, 0.879);
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.card {
    height: 4rem;
    width: 20rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: all .4s;
    z-index: 10;
}

.card_2 {
    height: 4rem;
    width: 20rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: all .4s;
    z-index: 10;
}

.card_upper {
    z-index: 10;
    min-height: 3.5rem;
    border-radius: 15px;
    /* background-color: #17202A; */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    padding: 0 25%;
    align-items: center;

}

.card_lower {
    opacity: 0;
    height: auto;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_upper:hover+.card_lower {
    opacity: 1;
}

.card .card_upper p {
    background: transparent;
    font-size: 2rem;
    color: white;
}

.card .card_upper img {
    background: transparent;
    height: 2.5rem;
    width: 2.5rem;
}

.card_lower_lower_p {
    font: 1.4rem;

}

.card_lower .contents {
    margin-left: 1rem;
    height: 2.8rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.card_lower .content {
    margin-left: 1rem;
    height: 3.2rem;
    display: flex;
    gap: 2rem;
    align-items: center;

}

.card_lower .contents p {
    background: transparent;
    font-size: 1.3rem;
    color: white;
}

.card_lower .content p {
    font-size: 1.2rem;
    background: transparent;
    color: white;
}

.card_lower .contents img,
.card_lower .content img {
    height: 2.5rem;
    width: 2.5rem;
}

/* -----------------MY WORK---------------- */
.project {
    height: 70vh;
}

.project h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    color: white;
    text-align: center;
}

.worklist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.work {
    position: relative;
    height: 20rem;
    width: 20rem;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    background: #DE5935;
    transition: all .5s;
}

.work img {
    width: 100%;
    transition: all .3s;
}

.layer:hover img {
    transform: scale(1.1);
}

.layer img {
    height: 4rem;
    width: 4rem;
    background: transparent;
}

.layer {
    background: #DE5935;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
    text-align: center;
}

.layer h3 {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1rem;
    background: transparent;
}

.layer p,
i {
    background: transparent;

}

.layer a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 4.5rem;
    width: 4.5rem;
    color: #ff004f;
    background: #fff;
    border-radius: 50%;
    margin-top: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}

/* -----------------CONTACT--------- */
.contact {
    height: fit-content;
    /* padding-top: 5rem; */
    /* padding-bottom: 5rem; */
    width: 100vw;
    /* height: fit-content; */
    background-color: rgba(255, 255, 255, 0.879);

}

.contact_row {

    display: flex;
    background-color: rgba(255, 255, 255, 0.879);

}

.contact-left {
    /* margin-top: 5rem; */
    background-color: rgba(255, 255, 255, 0.879);
    /* margin-left: 5rem; */
    flex-basis: 40%;
}

.contact-right {
    background-color: rgba(255, 255, 255, 0.879);
    flex-basis: 60%;
}

.contact h1 {
    margin-top: 3rem;
    margin-left: 3rem;
    background-color: rgba(255, 255, 255, 0.879);
    color: #1A2238;
    font-size: 3rem;
    line-height: 5rem;
}

.contact-left h2 {
    margin-left: 3rem;
    background-color: rgba(255, 255, 255, 0.879);
    color: #1A2238;
    font-size: 1rem;
    line-height: 2rem;
}

.contact-left h2 i {
    color: #1A2238;
    font-size: 1rem;
    background: transparent;
}

.contact-left button,
.contact-right button {
    margin-left: 3rem;
    color: white;
    background: transparent;
    height: 2.5rem;
    width: 12rem;
    border-radius: 10px;
    background-color: #ff004f;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.contact-left button a,
.contact-right button a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: 550;
    cursor: pointer;
}

.contact-right form {
    background-color: rgba(255, 255, 255, 0.879);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 1rem; */
    outline: none;
}

.contact-right h2 {
    background: transparent;
    font-size: 3rem;
    margin-top: 3.7rem;
    font-weight: 600;
    color: #1A2238;
}

.contact-right input,
textarea {
    width: 60%;
    font-size: 1.1rem;
    outline: none;
    padding: 7px;
    background-color: #ababab;
    border-radius: 15px;
}

.social_link {
    width: 100vw;
    height: 10vh;
    background: transparent;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_link a {
    margin-left: 1rem;
    color: #ababab;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .3s;
}

.social_link a img {
    height: 2rem;
    width: 2rem;
}

.social_link a:hover {
    color: #ff004f;
    transform: scale(1.6);
}

/* .photo-phone {
    display: none;

} */

#navbar .fa-solid {
    display: none;
}

/* ----------------- hidden Animation ----------------- */
.hidden {
    opacity: 0;
    transition: all .8s;

}

.show {
    opacity: 1;
    transition: all .8s;
}

.mobile_h1 {
    display: none;
}

#about_col_2_lower_part2 {
    display: none;
}

hr {
    display: none;
}